{{define "register-form"}}
<form method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="sexe">Sexe</label>
    <select name="sexe" id="sexe">
        <option value="homme">Homme</option>
        <option value="femme">Femme</option>
        <option value="autre">Autre</option>
    </select>

    {{if eq .Sexe "homme"}}
    <label for="taille">Taille</label>
    <input type="number" name="taille" id="taille" min="0,1" max="50">
    {{end}}

    {{if eq .Sexe "femme"}}
    <label for="taille">Taille</label>
    <input type="number" name="taille" id="taille" min="1" max="95">
    <input type="text" name="taille" id="taille" min="A" max="Z">
    {{end}}

    {{if eq .Sexe "autre"}}

    {{end}}

    

    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Register">  
</form>
{{end}}